/* Style general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

/* Navbar */
nav ul {
    list-style: none;
    padding: 0;
    background-color: #222;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.intro {
    margin-top: 50px;
}

.buttons .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
}

.buttons .btn:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0;
}
